.resident__container{
    display: flex;
    gap: 2em;
    flex-wrap: wrap ;
    justify-content: center;
    padding: 100px;
}

input, button{
    font-size: 1.4rem;
    
    
    
 
}

.resident__title{
    color: var(--color-green);
    text-align: center;
    padding: 40px;
  
    
    
}

